.calc {
    background-color: #2e4057;
    width: 260px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    padding-bottom: 40px;
    box-shadow: -2px 2px 3px #00000052;
}