.lcd-container {
    height: 100px;
    margin: 30px auto;
    width: 300px;

}

.lcd {
    border: none;
    color: #f96e46;
    text-align: right;
    width: 100%;
    background-color: #2e4057;

}

.lcd-principal {
    height: 65px;
    font-size: 2rem;

}

.lcd-resultado {
    height: 80px;
    font-size: 1.5rem;
    display: flex;
    resize: none;
    outline: none;
    overflow: auto;

}

.lcd-operador{
    height: 80px;
    width: 25px;
}
.lcd-caixa-resultado{
    display: flex;
    align-items: flex-end;
}
.lcd-principal:focus {
    outline: none;
}