.teclado {
    width: 217px;
    margin: auto;
    padding: 3px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: .5rem;
}

.teclado-tecla {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    background-color: #2e4057;
    color: #f5f5f5;
    font-size: 1.1rem;
    font-family: 'Roboto';
    box-shadow: 1px 1px 3px rgba(189, 188, 188, 0.493);
}

.teclado-operadores {
    display: grid;
    row-gap: .5rem;
}

.teclado-operadores .teclado-tecla {
    background-color: #f96e46;
    color: #2e4057;
}

.teclado-operadores .teclado-tecla:hover {
    background-color: #e0613d;
}

.teclado-numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;
}

.teclado-tecla:hover {
    background-color: #28374b;
}
.teclado-tecla:focus{
    outline: none;
}
.clear{
    background-color: #c6ebc6;
    color: #2e4057;
}